<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>

<header th:fragment="header">
    <nav class='navbar navbar-expand-sm navbar-dark sticky-top justify-content-end' style="background-color: #377ded;">
        <ul class='navbar-nav' style="font-size: 20px; font-weight: bold;">
            <li class='nav-item p-1 mx-3'>
                <a class='nav-link' th:href='@{/}'>Kezdőlap</a>
            </li>
            <li class='nav-item p-1 mx-3'>
                <a class='nav-link' th:href='@{/subjectlisting}'>Tárgyfelvétel</a>
            </li>
            <li class='nav-item p-1 mx-3'>
                <a class='nav-link' th:href='@{/admin}'>Admin page</a>
            </li>
            <li class='nav-item p-1 mx-3'>
                <a class='nav-link' th:href='@{/teacher}'>Oktatás</a>
            </li>
            <li class='nav-item p-1 mx-3'>
                <form id="header_form" class="m-0 p-0 nav-item" action="#" th:action="@{/logout}" method="post">
                    <button class='nav-link' type="submit" id="logout">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

</body>
</html>