<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/dnd_map_logo.svg}">
    <link th:href="@{/css/layout.css}" rel="stylesheet"/>
    <link th:href="@{/css/mid.css}" rel="stylesheet"/>
    <link id="theme" th:href="@{/css/lightmode.css}" rel="stylesheet"  type="text/css"/>
    <script>
        document.getElementById('cookie').innerHTML=showIcon()
        function showIcon() {
            var cookies = document.cookie.split(';');
            var isEnabled = cookies[0].split('=')[1] === "true";

            if(isEnabled){
                document.getElementById('theme').href = "/css/darkmode.css";
            }

            return isEnabled ? "☾" : "☼";
        }
    </script>
    <title>Edit world</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <div class="edit_place">
        <div class="top"><h2 th:text="'Edit ' + ${world.getName()}">Edit World 3</h2></div>
        <form id="removeWorld" th:action="@{/delete-world}" method="get">
            <input hidden="hidden" name="id" th:value="${world.getId()}"/>
        </form>
        <form id="updateWorld" th:action="@{/edit-world/process}" method="post">
            <input hidden="hidden" name="worldId" th:value="${world.getId()}"/>
            <div class="left balanced editleftfix">
                <p th:if="${edit_world_error} != null" th:text="${edit_world_error}" class="error_message"/>
                <label for="wname">World Name</label>
                <input class="wide" type="text" name="worldName" id="wname" th:value="${world.getName()}"></br>

                <label for="desc">Description</label>
                <textarea name="description" id="desc" th:value="${world.getDescription()}"></textarea></br>
            </div>
        </form>
            <div class="right balanced">
                <label>Users</label>
                <table>
                    <colgroup>
                        <col span="1" style="width: 8%;">
                        <col span="1" style="width: 78%;">
                        <col span="1" style="width: 14%;">
                    </colgroup>
                    <tr th:each="joinedUser,iter : ${world.getJoinedUsers()}">
                        <form th:id="${joinedUser.getId()}" th:action="@{/remove-from-world}" method="post">
                            <input hidden="hidden" name="worldId" th:value="${world.getId()}"/>
                            <input hidden="hidden" name="userId" th:value="${joinedUser.getId()}"/>
                        <td><img width="40" th:class="profile-picture" th:src="@{/images/dnd_map_logo_background.svg}"
                                 alt="user-pfp" class="profile-picture"></td>
                        <td><p class="editworld_username" th:text="${joinedUser.getUsername()}">User 1</p></td>
                        <td><input th:form="${joinedUser.getId()}" class="remove bbutton" type="submit" value="Remove"></td>
                        </form>
                    </tr>
                    <tr th:each="invitedUser,iter : ${world.getInvitedUsers()}">
                        <td><img width="40" th:if="${invitedUser.getPfpPath()==null}" th:src="@{/images/dnd_map_logo_background.svg}" alt="profile-picture" class="profile-picture">
                        <img width="40" th:if="${invitedUser.getPfpPath()!=null}" th:src="@{/img(path=${invitedUser.getPfpPath()})}" alt="profile-picture" class="profile-picture"></td>
                        <td><p class="editworld_username" th:text="${invitedUser.getUsername()}">User 1</p></td>
                        <td th:unless="${world.getJoinedUsers().contains(invitedUser)}"><p class="pending">pending</p></td>
                    </tr>
                </table>
                <div class="flexbox">
                    <form id="invite" th:action="@{/invite}" method="post">
                        <input form="invite" hidden="hidden" name="id" th:value="${world.getId()}"/>
                        <input form="invite" class="select" id="beforeadd" type="text" name="username">
                        <input class="bbutton addworld" type="submit" value="Add" form="invite">
                    </form>
                </div>
                <br>
                <input class="saveworld bbutton" form="updateWorld" type="submit" value="Save">
                <button class="removeworld bbutton" form="removeWorld">Remove world</button>
            </div>
    </div>
</main>
</body>
</html>