<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/dnd_map_logo.svg}">
    <link th:href="@{/css/layout.css}" rel="stylesheet" />
    <link th:href="@{/css/new.css}" rel="stylesheet" />
    <link id="theme" th:href="@{/css/lightmode.css}" rel="stylesheet"  type="text/css"/>
    <script>
        document.getElementById('cookie').innerHTML=showIcon()
        function showIcon() {
            var cookies = document.cookie.split(';');
            var isEnabled = cookies[0].split('=')[1] === "true";

            if(isEnabled){
                document.getElementById('theme').href = "/css/darkmode.css";
            }

            return isEnabled ? "☾" : "☼";
        }
    </script>
    <title>New world</title>
</head>
<body style="overflow-y: hidden">
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <div class="new_wd">
        <div class="top"><h2>New world</h2></div>
        <div>
            <form th:action="@{/new-world/process}" method="post">
                <p th:if="${new_world_error} != null" th:text="${new_world_error}" class="error_message"/>

                <label for="wdname">World name</label>
                <input type="text" name="worldName" id="wdname"></br>

                <label for="desc">Description</label>
<!--                <input type="text" name="desc" id="desc"></br></br>-->
                <textarea name="description" id="desc"></textarea></br>

                <input class="button" type="submit" value="Create">
            </form>
        </div>
    </div>


</main>

</body>
</html>