<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" th:href="@{/images/dnd_map_logo.svg}">
  <link th:href="@{/css/layout.css}" rel="stylesheet" />
  <link th:href="@{/css/new.css}" rel="stylesheet" />
  <link id="theme" th:href="@{/css/lightmode.css}" rel="stylesheet"  type="text/css"/>
  <script>
    document.getElementById('cookie').innerHTML=showIcon()
    function showIcon() {
      var cookies = document.cookie.split(';');
      var isEnabled = cookies[0].split('=')[1] === "true";

      if(isEnabled){
        document.getElementById('theme').href = "/css/darkmode.css";
      }

      return isEnabled ? "☾" : "☼";
    }
  </script>
  <title>New place</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<main>
  <div class="new_place">
    <div class="top"><h2>New Place</h2></div>
    <div>
      <form th:action="@{/edit-place/process}" enctype="multipart/form-data" method="POST">
        <label for="plname">Name</label>
        <input type="text" name="plname" id="plname"></br>

        <label for="pltype">Type</label>
        <input type="text" name="pltype" id="pltype"></br>

        <label for="plparent">Parent</label>
        <select class="select" name="plparent" id="plparent">
          <option th:if="${worldDAO.getById(worldId).getRootPlace()}==${null}" th:value="${-1}" selected>No parent</option>
          <option th:if="${worldDAO.getById(worldId).getRootPlace()}!=${null}" th:each="place,iter : ${places}" th:text="${place.getName()}" th:value="${place.getId()}">Parent place name</option>
        </select></br>

        <label for="mapfile">Map</label>
        <label for="mapfile"><input type="file" name="mapfile" id="mapfile"/></label></br>

        <label for="desc">Description</label>
        <textarea name="desc" id="desc"></textarea></br>

        <label for="notes">Notes</label>
        <textarea name="notes" id="notes"></textarea></br>

        <input class="button" type="submit" value="Create">
        <input class="button" type="hidden" th:name="worldId" th:value="${worldId}">
      </form>
    </div>
  </div>

  <div>
    </br>
    </br>
    </br>
  </div>



</main>

</body>
</html>