<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/dnd_map_logo.svg}">
    <link th:href="@{/css/layout.css}" rel="stylesheet"/>
    <link th:href="@{/css/wide.css}" rel="stylesheet"/>
    <link id="theme" th:href="@{/css/lightmode.css}" rel="stylesheet"  type="text/css"/>
    <script>
        document.getElementById('cookie').innerHTML=showIcon()
        function showIcon() {
            var cookies = document.cookie.split(';');
            var isEnabled = cookies[0].split('=')[1] === "true";

            if(isEnabled){
                document.getElementById('theme').href = "/css/darkmode.css";
            }

            return isEnabled ? "☾" : "☼";
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Place</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <div>
        <img th:if="${place.getMapPath()}" id="place-picture" alt="map picture" th:width="600px" th:src="@{/img(path=${place.getMapPath()})}">
    </div>
    <div>
        <p id="place-name-holder">
            <a th:text="${place.getName()}" id="place-name">Place name</a>
            <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
               th:class="${place.isDiscovered() ? 'green' : 'red'}"
               th:name="discovered"
               th:href="@{/discovered(id=${place.getId()})}">⚑</a>
            <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
               th:class="${place.isDescriptionShown() ? 'green' : 'red'}"
               th:href="@{/description(id=${place.getId()})}">☰</a>
            <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
               th:href="@{../new-place(worldId=${worldDAO.getById(place.getWorldId()).getId()}, isOwnWorld=${true})}" href="#"><i
                    class="fa fa-plus"></i></a>
        </p>
        <button id="place_edit" th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"><a
                th:href="@{../edit-place(placeId=${place.getId()}, isOwnWorld=${true})}">Edit</a></button>
        <a class="description-place" th:if="${place.getParent()}!=${null}"
           th:text="${place.getType()} + ' ' + ${place.getParent().getName()}"
           th:href="@{/place(placeId=${place.getParent().getId()})}">Place type Place parent</a>
        <p class="description-place" th:unless="${place.getParent()}!=${null}" th:text="${place.getType()}">Place type
            Place parent</p>
        <p class="title-place">Description</p>
        <p class="description-place"
           th:if="${place.isDescriptionShown()} or ${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
           th:text="${place.getDescription()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus
            consectetur
            volutpat. Mauris porttitor lorem purus, nec porta dui feugiat in. Quisque convallis justo sed nunc lobortis,
            egestas iaculis ipsum fermentum. Ut semper tellus ut sem molestie ullamcorper. Nulla facilisis semper urna
            pellentesque tempus. Aliquam accumsan mattis consequat. Proin consectetur eu augue quis volutpat. Nunc
            finibus sit amet mauris nec convallis. Nullam nec dictum nisl. Fusce malesuada vulputate ex.</p>
        <br><br>
        <p class="title-place" th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}">
            Notes</p>
        <p class="description-place" th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
           th:text="${place.getNotes()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus
            consectetur
            volutpat. Mauris porttitor lorem purus, nec porta dui feugiat in. Quisque convallis justo sed nunc lobortis,
            egestas iaculis ipsum fermentum. Ut semper tellus ut sem molestie ullamcorper. Nulla facilisis semper urna
            pellentesque tempus. Aliquam accumsan mattis consequat. Proin consectetur eu augue quis volutpat. Nunc
            finibus sit amet mauris nec convallis. Nullam nec dictum nisl. Fusce malesuada vulputate ex.</p>
    </div>

    <!-- ⚑ ☰ -->

    <div class="outerflexbox">

        <div class="outerdropdown" th:each="child, iter: ${children}"
             th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()} or ${child.isDiscovered()}">
            <div class="flexbox">
                <button class="dropdown"><i class="fa fa-caret-right"></i></button>
                <div>
                    <a class="title-place" th:text="${child.getName()}"
                       th:href="@{/place(placeId=${child.getId()})}"> Child place name </a>
                    <p class="description-place">type
                        <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
                           th:class="${child.isDiscovered() ? 'green' : 'red'}"
                           th:name="discovered"
                           th:href="@{/discovered(id=${child.getId()})}">⚑</a>
                        <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
                           th:class="${child.isDescriptionShown() ? 'green' : 'red'}"
                           th:href="@{/description(id=${child.getId()})}">☰</a>
                        <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
                           th:href="@{../new-place(worldId=${worldDAO.getById(place.getWorldId()).getId()}, isOwnWorld=${true})}"
                           href="#"><i class="fa fa-plus"></i></a>
                    </p>
                </div>
            </div>
            <div class="le">
                <div class="container" th:each="grandChild, iter: ${placeDAO.getAllByParent(child, user.getId()!=worldDAO.getById(place.getWorldId()).getOwner().getId())}"
                     th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()} or ${grandChild.isDiscovered()}">
                    <div class="flexbox">
                        <button class="dropdown"><i class="fa fa-caret-down"></i></button>
                        <div>
                            <a class="title-place" th:text="${grandChild.getName()}"
                               th:href="@{/place(placeId=${grandChild.getId()})}"> Child place name </a>
                            <p class="description-place">type
                                <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
                                   th:class="${grandChild.isDiscovered() ? 'green' : 'red'}"
                                   th:name="discovered"
                                   th:href="@{/discovered(id=${grandChild.getId()})}">⚑</a>
                                <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
                                   th:class="${grandChild.isDescriptionShown() ? 'green' : 'red'}"
                                   th:href="@{/description(id=${grandChild.getId()})}">☰</a>
                                <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
                                   th:href="@{../new-place(worldId=${worldDAO.getById(place.getWorldId()).getId()}, isOwnWorld=${true})}"
                                   href="#"><i class="fa fa-plus"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="le">
                        <div class="container" th:each="greatgrandChild, iter: ${placeDAO.getAllByParent(grandChild, user.getId()!=worldDAO.getById(place.getWorldId()).getOwner().getId())}"
                             th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()} or ${greatgrandChild.isDiscovered()}">
                            <div class="flexbox">
                                <button class="dropdown"><i class="fa fa-caret-down"></i></button>
                                <div>
                                    <a class="title-place" th:text="${greatgrandChild.getName()}"
                                       th:href="@{/place(placeId=${greatgrandChild.getId()})}"> Child place name </a>
                                    <p class="description-place">type
                                        <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
                                           th:class="${greatgrandChild.isDiscovered() ? 'green' : 'red'}"
                                           th:name="discovered"
                                           th:href="@{/discovered(id=${greatgrandChild.getId()})}">⚑</a>
                                        <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
                                           th:class="${greatgrandChild.isDescriptionShown() ? 'green' : 'red'}"
                                           th:href="@{/description(id=${greatgrandChild.getId()})}">☰</a>
                                        <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
                                           th:href="@{../new-place(worldId=${worldDAO.getById(place.getWorldId()).getId()}, isOwnWorld=${true})}"
                                           href="#"><i class="fa fa-plus"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="le">
                                <div class="container" th:each="greatgreatgrandChild, iter: ${placeDAO.getAllByParent(greatgrandChild, user.getId()!=worldDAO.getById(place.getWorldId()).getOwner().getId())}"
                                     th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()} or ${greatgreatgrandChild.isDiscovered()}">
                                    <div class="flexbox">
                                        <button class="dropdown"><i class="fa fa-caret-down"></i></button>
                                        <div>
                                            <a class="title-place" th:text="${greatgreatgrandChild.getName()}"
                                               th:href="@{/place(placeId=${greatgreatgrandChild.getId()})}"> Child place name </a>
                                            <p class="description-place">type
                                                <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
                                                   th:class="${greatgreatgrandChild.isDiscovered() ? 'green' : 'red'}"
                                                   th:name="discovered"
                                                   th:href="@{/discovered(id=${greatgreatgrandChild.getId()})}">⚑</a>
                                                <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
                                                   th:class="${greatgreatgrandChild.isDescriptionShown() ? 'green' : 'red'}"
                                                   th:href="@{/description(id=${greatgreatgrandChild.getId()})}">☰</a>
                                                <a th:if="${user.getId()}==${worldDAO.getById(place.getWorldId()).getOwner().getId()}"
                                                   th:href="@{../new-place(worldId=${worldDAO.getById(place.getWorldId()).getId()}, isOwnWorld=${true})}"
                                                   href="#"><i class="fa fa-plus"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="le">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let dropdown = document.getElementsByClassName("flexbox");
        let i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                let dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                    this.firstElementChild.firstElementChild.classList.remove('fa-caret-down')
                    this.firstElementChild.firstElementChild.classList.add('fa-caret-right')
                } else {
                    dropdownContent.style.display = "block";
                    this.firstElementChild.firstElementChild.classList.remove('fa-caret-right')
                    this.firstElementChild.firstElementChild.classList.add('fa-caret-down')
                }
            });
        }
    </script>

</main>
</body>
</html>