<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="icon" th:href="@{/images/dnd_map_logo.svg}">-->
    <link th:href="@{/css/layout.css}" rel="stylesheet"/>
    <title>Login - Registration</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <div class="login">
        <div class="left">
            <div class="top"><h2>Login</h2></div>
            <div class="form">
                <form th:action="@{/auth/login}" method="POST">
                    <p th:if="${param.failed != null}" class="error_message">
                        Username or password is incorrect!
                    </p>

                    <label for="username">Username</label>
                    <input type="text" name="username" id="username"></br>

                    <label for="password">Password</label>
                    <input type="password" name="password" id="password"></br>

                    <input class="button" type="submit" name="login-btn" value="Log in"/></br>
                </form>
            </div>
        </div>

        <div class="right">
            <div class="top"><h2>Üzenőfal</h2></div>
            <div class="post">
                <div class="post">
                    <div>
                        <
                    </div>
                </div>
            </div>
        </div>


    </div>


</main>

</body>
</html>