<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/poseidon_logo.jpg}">
    <link th:href="@{/css/auth.css}" rel="stylesheet"/>
    <title>Poseidon</title>
</head>
<body>
<main>
    <div class="grid-container">
        <div class="grid-left">
            <div class="flex-container">
                <div class="flex-item">
                    <img th:src="@{/images/poseidon_logo.jpg}" alt="logo" id="logo">
                </div>
                <div class="flex-item">
                    <p class="poseidon">POSEIDON</p>
                </div>
                <div class="flex-item">
                    <form th:action="@{/auth/login}" method="POST">
                        <div class="login-form-grid-container">
                            <div class="login-form-grid-item">
                                <label for="username">PS kód:</label>
                            </div>
                            <div class="login-form-grid-item">
                                <input type="text" name="username" id="username"></br>
                            </div>
                            <div class="login-form-grid-item">
                                <label for="password">Jelszó:</label>
                            </div>
                            <div class="login-form-grid-item">
                                <input type="password" name="password" id="password"></br>
                            </div>
                            <div class="login-form-button">
                                <input class="button" type="submit" name="login-btn" value="Bejelentkezés"/>
                            </div>
                            <div class="login-form-error-message">
                                <p th:if="${param.failed != null}" class="error_message">
                                    A PS kód vagy a jelszó hibás!
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="grid-right">
            <p class="message-board">ÜZENŐFAL</p>
            <hr style="width: 50%; border: 2px solid black; margin-bottom: 5vh;">
            <div class="posts-div">
                <div th:each="post : ${posts}" class="post-div">
                    <h3 th:text="${post.getKey()}" class="user-h3"></h3>
                    <p th:text="${post.getValue()}" class="content-p"></p>
                    <hr style="border: 1px solid black">
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>