<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/dnd_map_logo.svg}">
    <link th:href="@{/css/layout.css}" rel="stylesheet" />
    <link th:href="@{/css/wide.css}" rel="stylesheet" />
    <title>Poseidon - Órarend</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <div class="outer">
            <div class="head">
                <h2>All worlds<button class="unique"><a style="color: var(--brown)" th:href="@{./new-world}">New</a></button></h2>
            </div>
            <div class="body">
            </div>
        </div>
    </main>
</body>
</html>