<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/dnd_map_logo.svg}">
    <link th:href="@{/css/layout.css}" rel="stylesheet" />
    <link th:href="@{/css/wide.css}" rel="stylesheet" />
    <title>User's page</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
        <div id="div-profile">
            <div>
                <p id="username-profile" th:text="${user.getUsername()}">
                    Username
                </p>
                <p id="email-profile" th:text="${user.getEmail()}">asdasd@gmail.com</p>
                <button id="edit-profile"><a th:href="@{../edit-user}">Edit</a></button>
            </div>
            <div>

            </div>
        </div>
        
        <div class="outer">
            <div class="head">
                <h2>Worlds<button class="unique"><a style="color: var(--brown)" th:href="@{../new-world}">New</a></button></h2>
            </div>
            <div class="body">    
                <table>
                    <colgroup>
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 69%;">
                        <col span="1" style="width: 8%;">
                        <col span="1" style="width: 8%;">
                    </colgroup>
                    <tr th:each="world,iter : ${worlds}">
                        <td>
                            <h3 th:text="${world.getName}">World 1</h3>
                        </td>
                        <td>
                            <p class="description" th:text="${world.getDescription}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </td>
                        <td>
                            <button><a th:href="@{../edit-world(id=${world.getId()})}">Edit</a></button>
                        </td>
                        <td>
                            <button th:if="${world.getRootPlace()}==${null} and ${world.getOwner().getId()}!=${user.getPsCode()}"><a th:href="@{../}">Open</a></button>
                            <button th:if="${world.getRootPlace()}!=${null}"><a th:href="@{../place(placeId=${world.getRootPlace().getId()})}">Open</a></button>
                            <button style="width: 140px;" th:unless="${world.getRootPlace()}!=${null}" th:if="${world.getOwner().getId()}==${user.getPsCode()}"><a th:href="@{../new-place(worldId=${world.getId()}, isOwnWorld=${true})}">Add root place</a></button>
                        </td>
                    </tr>
                </table>
                <br>
            </div>
        </div>
    </main>
</body>
</html>