:root{
    --brown: #302254;
    --blue: #002828;
    --light_blue: #101010;
    --light_brown: #270e5d;
    --green: #007e30;
    --red: #800000;
    --white: #00FFF8;
    --text_color: #00FFF8;
    --mid_blue: #413b67;
    --aqua: #00FFF8;
    --lightgrey: #180957;
}