:root{
    --brown: #B5B5A1;
    --blue: #00FFF8;
    --light_blue: #C0FEFC;
    --light_brown: #E0E0DC;
    --green: #00BE4C;
    --red: #FF0000;
    --white: #FFFFFF;
    --text_color: #707070;
    --mid_blue: #DCF1F0;
    --aqua: #00FFF8;
    --lightgrey: lightgrey;
}