table {
    border-collapse: collapse;
}

tr, td, caption {
    border: #000000 solid 2px;
}

caption p{
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

#timetable {
    min-width: 75vw;
    min-height: 60vh;

    max-width: 90vw;
}

#timetable td:not[id="ora"], #timetable th:not[id="ora"] {
    min-width: 15vw;
}

#timetable td[id="ora"], #timetable th[id="ora"] {
    width: 4vw;
}

#timetable th {
    min-height: 5vh;
}

#timetable td {
    min-height: 10vh;
}